<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Produccion" value="1Pc4ny8ioT74="/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Sistema" connectionString="/HL0g/QgGNDwoMgVPkj1Av+6nPQFjN6e6DJlHL01Tdk0w2INfZwicemMG18XyY/mt0xGIr+1GmvgoYmZA/zpg0DZ1X5novGQCb0Sq8+Bn7NLukRN9/3l4qDNmCggq/IhG/hcj7EwD5zfhEQfZFOHeA==" providerName="System.Data.SqlClient"/>-->
    <add name="Sistema" connectionString="/HL0g/QgGNCVq1fdrmHQ1wKCpRg8np3dFwuWlT0KbYg92b7RpsssdS6XpHN1f/oK0+Fx1kaIoQDInnwq/JDHJUq6B45shbqH6TWOPv9qRSVtYvRgSjWmmWfvAjMs/k8DSBWwUk+iqlo=" providerName="System.Data.SqlClient"/>
    <add name="SistemaQA" connectionString="/HL0g/QgGNCVq1fdrmHQ1wKCpRg8np3dFwuWlT0KbYgYLj8wx3Q2HAR10aYHLjHDVL0Nx/nxXzDHcboyd3kZUN8UPQwQ8atUSnWxbw3gEC1GWrdGmhs9SG3e9igGANI7" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>